.bg-pane {
  position: absolute;
  width: 80%;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(from var(--ttm-bg-default) 255 255 255 / 0.3);
  border-radius: 1rem;
  border: solid 1px var(--ttm-bor-default);
}
