.palette > article {
  align-items: center;
  display: grid;
  justify-content: center;
  padding: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 3rem 1rem;

  h4 {
    grid-column: 1 / -1;
  }

  > div {
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 0.5rem;

    span {
      align-items: center;
      display: flex;
      padding: 1rem 1.25rem;
      width: fit-content;

      text-align: center;

      border: solid 1px var(--ttm-bor-default);
      border-radius: 99rem;
    }
  }
}
