.glass-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.glass-pane {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    112deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  backdrop-filter: blur(75px);
  z-index: 3;
}

.blue-blob {
  opacity: 0.53;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 698px;
  height: 728px;
  background-image: url('data:image/svg+xml,<svg width="698" height="728" viewBox="0 0 798 828" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M528.778 -82.077C570.092 -44.5535 581.896 43.706 593.246 115.582C604.596 187.458 615.492 243.479 611.86 296.857C608.228 350.764 590.068 401.5 557.38 430.568C524.692 459.107 477.022 465.977 439.34 510.9C401.204 555.822 372.602 638.797 325.84 675.263C279.532 711.201 214.61 701.16 169.21 660.994C123.81 621.357 97.4781 552.123 65.2441 486.589C33.0101 421.583 -5.57993 360.806 -3.76393 301.086C-1.49393 240.836 40.7281 182.701 67.9681 107.126C95.2081 31.5505 107.012 -60.937 150.596 -97.4035C194.18 -133.341 269.09 -113.259 342.184 -109.559C415.278 -105.86 487.01 -119.6 528.778 -82.077Z" fill="%230077FF"/></svg>');
  background-repeat: no-repeat;
  z-index: -1;
}

.yellow-blob-r {
  position: absolute;
  top: 8%;
  right: 5%;
  width: 591px;
  height: 793px;
  z-index: -1;
  background-image: url('data:image/svg+xml,<svg width="591" height="793" viewBox="0 0 591 793" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M450.144 1.21649C517.788 -3.03613 596.252 19.0917 590.422 82.6527C585.072 146.158 495.494 251.678 465.221 322.752C435.015 394.406 464.181 432.195 453.374 444.017C442.633 456.42 391.854 442.276 364.77 460.672C337.205 479.124 332.856 530.172 297.98 603.539C263.104 676.905 197.222 772.646 133.514 789.965C69.3254 807.338 7.31166 746.29 0.640443 667.121C-6.03077 587.953 43.0542 490.029 72.6332 421.386C102.626 352.108 112.499 311.005 140.944 295.978C169.456 281.532 215.926 292.057 240.729 258.053C265.051 224.105 267.159 145.102 296.418 90.6023C326.157 36.0469 382.98 5.41388 450.144 1.21649Z" fill="%23F79824"/></svg>');
  background-repeat: no-repeat;
  transform: rotate(-7deg);
}

.yellow-blob-l {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 384px;
  height: 285px;
  background-image: url('data:image/svg+xml,<svg width="384" height="285" viewBox="0 0 384 285" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M286.426 21.8901C312.116 33.3921 335.99 48.9411 354.155 70.0281C372.32 91.1151 384.776 117.74 383.219 144.365C381.662 170.99 365.833 197.615 343.256 219.128C320.42 240.854 290.578 257.468 255.286 272.378C219.734 287.501 178.733 300.92 147.593 291.335C116.453 281.75 95.1745 248.948 66.889 221.684C38.6035 194.207 3.05198 172.268 0.45698 147.347C-2.13802 122.213 28.2235 94.3101 52.6165 70.2411C77.269 45.9591 95.953 25.5111 120.605 13.5831C145.258 1.86805 175.879 -1.11395 204.943 1.01605C233.747 3.14605 260.995 10.3881 286.426 21.8901Z" fill="%23F79824"/></svg>');
  background-repeat: no-repeat;
  z-index: -1;
}
